- content_for :form_title do
  = t('tt.new', resource_name: Customer.model_name.human)
.alert.alert-info
  = t('view.create_resource_mail_info', resource: Customer.model_name.human.downcase)
= render 'form'
